body{
	background: #43C6AC;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #191654, #43C6AC,#456);  
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #191654, #43C6AC,#456);
	 /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color: white;
}

header{	
	font-size: 30px;
	text-align:center; 
	width: 350px; 
	font-family: 'Kurale', serif;
	margin: 10px;
}

footer{
	margin: 5px;
}
		
th{	
	width: 70px;
	text-align:center;
}

td{ 
	text-align:center;
	font-size: 13px;
}

ul{
	list-style: none;
}

.menuBar{
	margin: 5px;
	text-align: center;
}

.tablink {
	background: white;
    border: none;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    padding: none;
    width: 15px;
    margin: 5px 20px;
    height: 15px;
}

.tablink:hover {
    background-color: #777;
}
 
.menu {
    color: white;
    display: none;
    padding: none;
    text-align: left;
}

.menu input{
    color: black;
    text-align: left;
    width: 350px;
    border: 1px solid gray; 
}

.menu a{
    color: white;
    text-align: left;
    margin: 10px;
}

#addLink #addClass{
	color: black;
	font-size: 13px;
	background: white;
	border-radius: 15%;
	border: none;
    padding: 0px;
    text-align: center;
    margin: 10px 0px;
    width: 50px;
}

#headerImg{ 
	width: 30px;
	height: 30px;
	margin: 0px;
}

#account{
	float: right;
}

#account a{
	color: lightgray;
	text-decoration: underline;
}

#classDetail {
	font-size: 15px;
	padding: 0px;
	margin: 5px;
	border: none;
}

#link #addLink #protocol {
	color: black;
	width: 55px;
	padding: 0px;
	margin: 0px;
	border: 1px solid gray;
	background: white;
	height: 24px;
}

.menu #courseWeb{
	width: 291px;
}